*{
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
}



body{
   
   overflow-x: hidden;
  }  

  .main-div-home{
      border-top: 1px white solid;
      background: rgb(0,0,0);
      background: linear-gradient(90deg, rgba(0,0,0,1) 15%, rgba(13,51,34,0.9196720924698004) 63%);
      height: 89.2vh;
  }
  
    
  .first-line{
    color: white;
    position: absolute;
    top: 170px;
    left: 200px;
    font-size: 0.85rem;
    font-family: 'IBM Plex Serif', serif;
  }
  .second-line{
    color: white;
    position: absolute;
    top: 190px;
    left: 193px;
    font-size: 3.8rem;
    font-family: 'IBM Plex Serif', serif;
    background: -webkit-linear-gradient(rgb(252, 77, 42), rgb(240, 225, 225));
    text-shadow: -1px 2px rgba(128, 128, 128, 0.5);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .third-line{
    font-size: 0.9rem;
    color: rgb(211, 149, 149);
    position: absolute;
    top: 277px;
    left: 159px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  }
  .fourth-line{
    font-size: 1.2rem;
    color: rgb(147, 218, 182);
    position: absolute;
    top: 319px;
    left: 159px;
    font-family: 'Courier New', Courier, monospace;
  }

  .rightpart{
    /* border: 1px solid red; */
    width: 50vw;
    height: 80vh;
    position: absolute;
    left: 50%;
    top: 90px;
    
  }

  .right-first{
    margin-bottom: 10px;
    position: relative;
    top: 37px;
    color: white;
    left: 130px;
    font-family: 'Tapestry', cursive;
    font-size: 2.2rem;
  }
  



.list-container{
  list-style-type: none;
  position: relative;
  top: 40px;
  left: 100px;
  z-index: 10;
}
.ul-items{
  font-size: 1.1rem;
  color: rgb(186, 243, 230);
 
}

  
  @media (max-width:550px){



    body{
     
      
      overflow-x: hidden;
     } 

    .main-div-home{
     /* border: 1px solid #ff0000; */
      height: 100vh;
      overflow-x: hidden;
      overflow-y: hidden;
      width: 100vw;
  }
   
    .first-line{
      color: white;
      position: relative;
      top: 68px;
      left: 84px;
      font-size: 0.75rem;
      font-family: 'IBM Plex Serif', serif;
    }
    .second-line{
      color: white;
      position: relative;
      top: 62px;
      left: 93px;
      font-size: 2.5rem;
      
    }
    .third-line{
      font-size: 0.7rem;
      color: rgb(211, 149, 149);
      position: relative;
      top: 58px;
      left: 46px;
     
    
    }
    .fourth-line{
      font-size: 0.8rem;
      position: relative;
      top: 58px;
      left: 30px;
       }

    
  .rightpart{
    /* border: 1px solid red; */
    width: 90vw;
    height: 100%;
    position: relative;
    left: 10%;
    top: 70px;
    
  }

    .right-first{
      position: relative;
      top: 14px;
      
      left: 35px;
     
      font-size: 1.1rem;
    }
   
    .list-container{
      
      position: relative;
      top: 32px;
      left: 30px;
      
    }
    .ul-items{
      font-size: 0.9rem;
     
    }
  }