*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.main-body{
 position: absolute;
  height: max-content;
  width: 100vw;
  padding: 10vh 10vw;
  
  color: var(--main-text);
  display: grid;
  place-items: center;
}

.contact {
 
  text-decoration: none;
  /* display: flex;
  flex-direction: column; */
 

 } 
/* 
.contact h2{
  text-align: center;
  font-family: 'Tapestry', cursive;
  font-size: calc(30px + (50 - 30) * ((100vw - 300px) / (1700 - 300)));
  text-shadow: 0 0 2px black;
} */

.icons{
   /* border: 1px solid red; */
   display: flex;
   gap: 10px;
   justify-content: space-between;
}
.icons a{
  border: 1.5px solid yellow;
  padding: 8px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.icons svg{
  height: 30px;
  width: 30px;
  color: var(--main-text);
  /* filter: drop-shadow(1px 1px 5px rgb(118, 118, 229)); */
 
}








@media (max-width:550px){

  .main-body{
    
     padding: 8vh 0vw;
     
    
   }
 .icons svg{
  height: 20px;
  width: auto;
  /* border: 1px solid white; */
 }

.icons a{
 border: 1.3px solid yellow;
 padding: 4px;
 border-radius: 50%;
}
 
}