@media (max-width :550px){
    .Logo img{
        height: 80px;
        width: 80px;
      }
      /* .Container { */
        /* height: 10vh;        
        background-color: rgb(10, 4, 4);
        border: 2px solid rgb(51, 18, 218);
      } */

      
      .Navbar-nav{
        margin-bottom: -1rem;
        /* border: 1px solid red; */
        height: auto;
        width: 100%;
        flex-direction: column;
      
        
      }

      
    .btn-grad{
        font-size: 0.8rem;
        margin-top: 5px;
        height: 35px; 
        width: 90px;
        position: relative;
        left: 28vw;
       
        
    }


   
    .menuicon{
        display: block;
    }
}