* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.Logo {
  position: absolute;
  top: 10px;
  left: 8vw;
  /* border: 1px solid white; */
  border-radius: 50px;
  overflow: hidden;
}

.Logo img {
  height: 100px;
  width: 100px;
}
.Container {
  padding-inline: 8vw;
  height: 80px;
 
}

.Navbar-nav {
  height: 100%;
  /* margin-top: 10px; */

  list-style-type: none;
  float: right;
  display: flex;
  flex-direction: right;
  align-items: center;
}

.Nav-item {
  font-size: 20px;
  padding: 10px 10px;
  margin: 10px 5px;
  text-align: center;
  font-weight: 400;
}

.Navbar-nav a {
  text-decoration: none;
  color: var(--main-text);
  cursor: pointer;
  padding-bottom: 3px;
  /* border: 1px solid red; */
  padding-inline: 10px;
}
.Nav-item:hover a{
  border-bottom: 2px solid yellow;
  
  transition:  0.2s ease;
}

/* button{
  text-decoration: none;
  margin-right: 20px;
  width: 200px;
  */









.menuicon {
  display: none;
  width: 80px;
  /* border: 1px solid red; */
  position: absolute;
  top: 20px;
  right: 6px;
}

.menu_line_one,
.menu_line_two,
.menu_line_three {
  height: 2.5px;
  width: 17.5px;
  background: white;
  border-radius: 10px;
  /* transition-delay: 0.5s; */
  transition-duration: 0.5s;
  transform-origin: center left;
}

.open_menu_icon .menu_line_one {
  transform: rotateZ(45deg);
}
.open_menu_icon .menu_line_two {
  transform: rotateY(-90deg);
}
.open_menu_icon .menu_line_three {
  transform: rotateZ(-45deg);
}
#menu_icon_container {
  margin-top: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  /* padding: 10px; */
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 3.5px;
  cursor: pointer;
  z-index: 1001;
  /* border: 1px solid red; */
}
.open_menu_icon {
  transition: 0.5s;
}
.open_menu {
  height: 100vh;
  width: 100vw;
  background-color: var(--main-green-dark);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  position: fixed;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 550px) {
  .Logo img {
    height: 70px;
    width: 70px;
  }
  .Container {
    transition: all 0.5s ease;
  }

  #open {
    /* border: 1px solid white; */
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    padding-right: 0px;

    display: grid;
    place-items: center;
  }

  .Navbar-nav {
    /* border: 1px solid red; */
    height: max-content;
    width: 100%;
    margin: 0px;
    flex-direction: column;
  }

  .btn-grad {
    font-size: 0.8rem;
    margin-top: 5px;
    height: 35px;
    width: 90px;
    position: relative;
    left: 28vw;
  }

  .menuicon {
    display: block;
    position: absolute;
    top: 10px;
    right: 2px;
  }
}
