* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.main-div-projects {
  background: radial-gradient(circle at 60% 40%, #19191c 25%, transparent 26%),
    radial-gradient(circle at 40% 60%, #19191c80 25%, transparent 26%);
  background-size: 1em 1em;
  background-color: #151515;
  opacity: 1;
  height: fit-content;
  width: 100vw;
  position: relative;
  padding: 8vh 12vw;
}

.main-div-projects >h1{
   text-align: center;
   color: var(--main-text);
   margin-bottom: 5vh;
   font-family: var(--main-font);
   font-size: 45px;
}

.carousel-items {
  height: max-content;
  /* width: 100vw; */
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
  gap: 40px;
  
  
}
.carousel-items >div{
  aspect-ratio: 3.2/2;
  /* box-shadow: 1.5px 1.5px 8px white; */
  border-radius: 10px;
}




.carousel-items img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  /* border-radius: 10px; */
}

@media (max-width: 450px) {
  .main-div-projects {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 80vh;
    width: 100vw;
  }

  .project_text {
    margin-bottom: 8vh;
  }
}
